Flask
Flask-Smorest
Flask-Cors
marshmallow
python-docx
ibm_watsonx_ai
flask-sqlalchemy 
flask-migrate
docx
langchain
langchain_core
langchain_ibm
psycopg2-binary
gunicorn
python-dotenv
langgraph





